.secondary {
	background-color: var(--secondary-600);
	color: var(--secondary-white);
}

.secondary:hover,
.secondary:focus,
.secondary:focus-visible {
	background-color: var(--primary-700);
	color: var(--primary-100);
}

.back_link {
	padding: 0;
	background-color: transparent;
	font-weight: 400;
	text-decoration: underline;
	color: var(--textcolor);
	transition: 0.3s;

	display: flex;
	flex-direction: row;
	align-items: center;
}

.back_link:hover,
.back_link:focus {
	background-color: transparent;
	color: var(--primary-700);
	font-weight: 700;
	transition: 0.3s;
}

.back_link_arrow {
	stroke: var(--textcolor);
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
	fill: none;

	text-decoration: underline;

	height: 1rem;
}

.back_link:hover .back_link_arrow,
.back_link:focus .back_link_arrow {
	stroke: var(--primary-700);
}

@media (prefers-color-scheme: dark) {
	.back_link:hover,
	.back_link:focus,
	.back_link:hover .back_link_arrow,
	.back_link:focus .back_link_arrow {
		color: var(--primary-200);
	}
}
