.main_home {
	transform: translateY(-8rem);
}

.hero {
	background-image: url(/assets/Hero.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;

	height: 90vh;

	display: flex;
	justify-content: center;
	align-items: center;
}

.hero form {
	width: 75%;
	transform: translate(5%);
}

.content {
	margin: 3rem auto;
	max-width: 1000px;
}

.section {
	margin: 3rem 0;
}

.intro {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: start;
	gap: 5rem;
}

.intro_text {
	width: 60%;
}

.intro_text p:first-of-type {
	margin: 0;
}

.intro_name {
	font-weight: 700;
	font-size: 1.5em;
	color: var(--secondary-600);
}

.intro_img {
	width: 23rem;
	height: 23rem;
	border-radius: var(--border-radius);
	box-shadow: var(--shadow-black);

	object-fit: cover;
	object-position: 0 75%;
}

.community {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	gap: 5rem;
}

.hotel_highlights {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	column-gap: 1.5rem;
}

@media (prefers-color-scheme: dark) {
	.intro_name {
		color: var(--secondary-200);
	}
}

@media screen and (max-width: 1090px) {
	.content {
		margin: 3rem;
	}
}

@media screen and (max-width: 1000px) {
	.intro,
	.community {
		gap: 3rem;
	}
}

@media screen and (max-width: 900px) {
	.intro {
		gap: 2rem;
	}

	.community {
		gap: 0;
		flex-wrap: wrap;
	}

	.hero {
		height: 80vh;
	}

	.hero form {
		width: 100%;
	}
}

@media screen and (max-width: 750px) {
	.intro {
		flex-wrap: wrap;
		justify-content: center;
	}

	.intro_text {
		width: 100%;
	}

	.hero {
		height: 70vh;
	}

	.content {
		margin: 2rem;
	}
}

@media screen and (max-width: 570px) {
	.hero {
		height: 50vh;
	}

	.content {
		margin: 1rem;
	}

	.hotel_highlights {
		justify-content: center;
	}
}
