.rating {
	min-width: fit-content;
}

.rating_filled,
.rating_filled_detail {
	color: var(--secondary-600);
}

.rating_empty,
.rating_empty_detail {
	color: var(--secondary-300);
}

@media (prefers-color-scheme: dark) {
	.rating_filled {
		color: var(--secondary-400);
	}

	.rating_empty {
		color: var(--secondary-600);
	}

	.rating_filled_detail {
		color: var(--secondary-100);
	}
	.rating_empty_detail {
		color: var(--secondary-200);
	}
}
